.m-truncateText() {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.m-clearfix() {
  *zoom: 1; /* For IE6+ */

  &:before, &:after {
    content: " "; /* 1 */
    display: table; /* 2 */
  }
  &:after { clear: both; }
}

.m-fontSize(@amount, @contextPx: @base--fontSize) {
  font-size: unit((@amount / @context-px), em);
}

.m-lineHeight(@amount, @contextPx: @base--fontSize) {
  line-height: unit(@amount / @contextPx);
}

.m-maxMedia(@maxWidth, @rules) {
  @media screen and (max-width: @maxWidth) {
    @rules();
  }
}

.m-minMedia(@minWidth, @rules) {
  @media screen and (min-width: @maxWidth) {
    @rules();
  }
}
